.testimonials-section {
  text-align: center;
  padding: 40px;
  position: relative; /* Important for gradient positioning */
}

.testimonials-title {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: 'ElzaTrial', sans-serif;
  font-weight: bold;
}

.desktop-carousel {
  display: block;
}

.mobile-carousel {
  display: none;
}

@media (max-width: 768px) {
  .desktop-carousel {
    display: none;
  }
  
  .mobile-carousel {
    display: block;
  }
}

.slick-slide {
  padding: 10px;
  position: relative; /* Ensure cards are above the gradient */
  z-index: 2;
}

.testimonial-card {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  text-align: left;
  margin: 0 10px;
  position: relative;
}

.profile-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.card-header {
  display: flex;
  align-items: center;
}

.name {
  color: #ff4500;
  font-size: 1.2rem;
  margin: 0;
}

.company {
  font-size: 0.9rem;
  margin: 0;
}

.feedback {
  margin-top: 15px;
  font-size: 0.9rem;
}

.quotes-img {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.desktop-carousel::before,
.desktop-carousel::after,
.mobile-carousel::before,
.mobile-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 750px; /* Adjust width for the gradient effect */
  z-index: 1; /* Ensure gradient is above the carousel but below the cards */
  pointer-events: none; /* Allow interactions with carousel items */
}

.desktop-carousel::before,
.mobile-carousel::before {
  left: 0;
  background: linear-gradient(to right, rgba(15, 15, 15, 1), transparent 95%);
}

.desktop-carousel::after,
.mobile-carousel::after {
  right: 0;
  background: linear-gradient(to left, rgba(15, 15, 15, 1), transparent 95%);
}

@media (max-width: 768px) {
  .mobile-carousel .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mobile-carousel::before,
  .mobile-carousel::after {
    width: 200px; /* Adjust the gradient width for mobile view */
  }
}
