.testimonials-section {
  text-align: center;
  padding: 40px;
}

.testimonials-title {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: 'ElzaTrial-Regular', sans-serif;
}

.desktop-carousel {
  display: block;
}

.mobile-carousel {
  display: none;
}

.slick-slide {
  padding: 10px;
}

.testimonial-card {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  text-align: left;
  margin: 0 10px;
  position: relative;
}

.profile-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.card-header {
  display: flex;
  align-items: center;
}

.name {
  color: #ff4500;
  font-size: 1.2rem;
  margin: 0;
}

.company {
  font-size: 0.9rem;
  margin: 0;
}

.feedback {
  margin-top: 15px;
  font-size: 0.9rem;
}

.quotes-img {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .desktop-carousel {
    display: none;
  }
  .mobile-carousel {
    display: block;
  }
  .mobile-carousel .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
