.partners-container {

  padding: 40px 0;
  text-align: center;
  width: 100%; /* Ensure it spans the full width */
}

.partners-title {
  color: #fff;
  font-size: 2rem; /* Adjust the size as needed */
  margin-bottom: 40px;
  font-family: 'ElzaTrial-Regular', sans-serif; /* Use the custom font */
  margin-left: 100px; /* Shift the title slightly to the right */
  text-align: left ; /* Keep text left-aligned within the container */
}

.asterisk {
  color: #ff4500; /* Bright orange color for the asterisk */
  font-size: 1.5rem;
}

.partner-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.partner-img {
  max-width: 70%; /* Adjust logo size as needed */
  height: auto;
  filter: grayscale(100%); /* Convert logos to grayscale */
  opacity: 0.7; /* Adjust logo opacity */
  transition: opacity 0.3s ease;
}

.partner-img:hover {
  opacity: 1; /* On hover, remove the transparency */
}
