/* nav.css */
@font-face {
  font-family: ElzaTrial-Regular;
  src: url(../../public/ElzaTrial-Regular.otf);
}

/* Adjust the logo position */
.logo-container img {
  padding-left: 350px; /* Shift the logo to the right */
}

.navbar-nav {
  flex-direction: row !important;
}

@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column !important;
    align-items: center; /* Center the nav items in mobile view */
    text-align: center;  /* Center the text */
    width: 100%; /* Ensure the nav takes full width */
  }

  .navbar-toggler {
    margin-left: auto;
  }

  #basic-navbar-nav {
    position: fixed;
    top: 5rem;
    left: 0; /* Align navbar to the left edge */
    width: 100%; /* Full width on mobile view */
    background-color: red;
    z-index: 999; /* Ensure it stays on top */
    padding: 1rem 0; /* Padding for better spacing */
  }

  .logo-container img {
    padding-left: 0; /* Remove padding on smaller screens */
  }
}
