@font-face {
    font-family: ElzaTrial-Regular;
    src: url(../../public/ElzaTrial-Regular.otf);
}

.page-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rtit{
    font-weight: bold; 
}

.recent-works-container {
   
    padding: 0px; /* Remove any padding */
    margin: 0px; /* Remove any margin */
    width: 67%; /* Adjust width to reduce margin from sides */
}

.recent-works-container h2 {
    color: #fff; /* White text color */
}

.recent-works-card-wrapper {
    position: relative;
    text-align: center;
    max-width: 100%;
}

.recent-works-card {
    border: none;
    margin: 0; /* Remove margin around cards */
    border-radius: 0; /* Remove rounded corners */
    overflow: hidden; /* Hide overflow for smooth animations */
    position: relative;
    transition: transform 0.3s ease; /* Add transition for smooth scaling */
    height: 450px; /* Increased height for all cards */
  
    width: 100%; /* Ensure full width within the column */
}

.recent-works-card .card-img-top {
    width: 100%;
    height: 350px; /* Increased height for the image */
    object-fit: cover; /* Cover the entire area */
}

.recent-works-card .card-body {
    padding: 10px 0; /* Adjust padding */
}

.recent-works-card .card-title {
    color: white; /* Title color */
    margin: 0; /* Remove default margin */
    text-align: left; /* Align title text to the left */
    font-size: 0.9rem; /* Adjust font size */
    position: relative;
    bottom: 0;
    width: 100%;
    padding-left: 10px; /* Add some padding for spacing */
}

.recent-works-row {
    max-width: 100%; /* Ensure the row is responsive */
    margin: 0 auto; /* Center the row */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Add space between cards */
}

.col-md-6, .col-sm-12 {
    max-width: 49%; /* Ensure two cards per row */
    padding: 0 2px; /* Reduce padding to minimize space between columns */
    margin-bottom: 20px; /* Add margin bottom for spacing */
}

@media (max-width: 768px) {
    .col-md-6, .col-sm-12 {
        max-width: 50%; /* Ensure two cards per row even on mobile */
        height: 175px; /* Adjust card height on mobile */
    }

    .recent-works-card {
        height: 350px; /* Adjust height for all cards on mobile */
    }

    .recent-works-card .card-img-top {
        height: 155px; /* Adjust height for the image on mobile */
    }
}
