/* General Styles */
.contact-container {

  padding: 60px 0;
  color: #fff;
  margin-left: 230px;
}

.contact-title {
  font-size: 2rem;
  font-family: 'ElzaTrial-Regular', sans-serif;
  margin-bottom: 30px;
  font-weight: bold; 
}

.asterisk {
  color: #ff4500;
  font-size: 1.5rem;
}

.contact-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px 0;
  font-size: 1rem;
}

.contact-input::placeholder {
  color: #aaa;
}

.contact-button {
  background-color: #2f2f2f;
  color: #fff;
  border: none;
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  margin-top: 20px;
}

.contact-button:hover {
  background-color: #ff4500;
  color: #fff;
}

.say-hi {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #aaa;
  text-align: center;
}

.contact-details {
  margin-top: 30px;
}

.story-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  
}

.story-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 40px;
}

.details-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.details-text {
  font-size: 1rem;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .contact-container {
    margin-left: 0; /* Remove the left margin */
    padding: 40px 20px; /* Add some padding for mobile */
    text-align: left; /* Align text to the left */
  }

  .contact-title,
  .story-title,
  .details-title {
    text-align: left; /* Ensure titles are left-aligned */
  }

  .contact-input,
  .contact-button,
  .say-hi,
  .story-text,
  .details-text {
    text-align: left; /* Ensure all text and inputs are left-aligned */
  }
}